In [6]:
import pandas as pd
df = pd.read_csv('taiwan.csv')
df1=df.iloc[700:710]
mask = df1["新增確診數"]>=12
df1[mask]

     國家          日期   總確診數  新增確診數  新增死亡數
700  台灣  2021-12-16  16771     12      0
701  台灣  2021-12-17  16786     15      0
702  台灣  2021-12-18  16799     13      0
706  台灣  2021-12-22  16840     14      0
707  台灣  2021-12-23  16853     13      0
708  台灣  2021-12-24  16873     20      0
709  台灣  2021-12-25  16891     18      0

In [9]:
mask = (df['日期'] >="2020-01-20") & (df['日期'] <="2020-01-31")
df[mask]

    國家          日期  總確診數  新增確診數  新增死亡數
4   台灣  2020-01-20     0      0      0
5   台灣  2020-01-21     0      0      0
6   台灣  2020-01-22     1      0      0
7   台灣  2020-01-23     1      0      0
8   台灣  2020-01-24     3      2      0
9   台灣  2020-01-25     3      0      0
10  台灣  2020-01-26     4      1      0
11  台灣  2020-01-27     5      1      0
12  台灣  2020-01-28     8      3      0
13  台灣  2020-01-29     8      0      0
14  台灣  2020-01-30     9      1      0
15  台灣  2020-01-31    10      1      0

In [10]:
df.query('日期 >="2020-01-20" and 日期<="2020-01-31" and 總確診數 >=5')

    國家          日期  總確診數  新增確診數  新增死亡數
11  台灣  2020-01-27     5      1      0
12  台灣  2020-01-28     8      3      0
13  台灣  2020-01-29     8      0      0
14  台灣  2020-01-30     9      1      0
15  台灣  2020-01-31    10      1      0

In [11]:
df['日期'] = pd.to_datetime(df['日期'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903 entries, 0 to 902
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國家      903 non-null    object
 1   日期      903 non-null    datetime64[ns]
 2   總確診數    903 non-null    int64
 3   新增確診數   903 non-null    int64
 4   新增死亡數   903 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 35.4+ KB

In [13]:
df2 = df.set_index ('日期')
df2

            國家     總確診數  新增確診數  新增死亡數
日期
2020-01-16  台灣        0      0      0
2020-01-17  台灣        0      0      0
2020-01-18  台灣        0      0      0
2020-01-19  台灣        0      0      0
2020-01-20  台灣        0      0      0
...         ..      ...    ...    ...
2022-07-02  台灣  3837856  34807     96
2022-07-03  台灣  3870528  32672     88
2022-07-04  台灣  3893643  23115     69
2022-07-05  台灣  3929627  35984    103
2022-07-06  台灣  3964188  34561     95

[903 rows x 4 columns]

In [14]:
df2.loc['2020']
df2.loc['2020-02']
df2.loc['2020-01':'2020-06']

            國家  總確診數  新增確診數  新增死亡數
日期
2020-01-16  台灣     0      0      0
2020-01-17  台灣     0      0      0
2020-01-18  台灣     0      0      0
2020-01-19  台灣     0      0      0
2020-01-20  台灣     0      0      0
...         ..   ...    ...    ...
2020-06-26  台灣   447      0      0
2020-06-27  台灣   447      0      0
2020-06-28  台灣   447      0      0
2020-06-29  台灣   447      0      0
2020-06-30  台灣   447      0      0

[167 rows x 4 columns]